::selection {
    color: var(--on-primary);
    background-color: var(--primary);
}

.hidden {
    display: none !important;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.music-note {
    color: var(--primary);
}

#contents{
    height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 600px) {
    #contents{
        height: 500px;
    }
}