.hidden {
    display: none !important;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.music-note {
    color: var(--primary);
}

#contents{
    height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}

#trending-archives-container{
    max-height: 400px;
}

@media (max-width: 600px) {
    #contents{
        height: 450px;
    }
}