:root,
body.light {
    --primary: #006b5e;
    --on-primary: #ffffff;
    --primary-container: #76f8e1;
    --on-primary-container: #00201b;
    --secondary: #4a635e;
    --on-secondary: #ffffff;
    --secondary-container: #cde8e1;
    --on-secondary-container: #06201b;
    --tertiary: #446279;
    --on-tertiary: #ffffff;
    --tertiary-container: #cae6ff;
    --on-tertiary-container: #001e30;
    --error: #ba1a1a;
    --on-error: #ffffff;
    --error-container: #ffdad6;
    --on-error-container: #410002;
    --background: #fafdfa;
    --on-background: #191c1b;
    --surface: #f7faf8;
    --on-surface: #191c1b;
    --surface-variant: #dae5e1;
    --on-surface-variant: #3f4946;
    --outline: #6f7976;
    --outline-variant: #bec9c5;
    --shadow: #000000;
    --scrim: #000000;
    --inverse-surface: #2d3130;
    --inverse-on-surface: #eff1ef;
    --inverse-primary: #56dbc5;
    --surface-dim: #d8dbd8;
    --surface-bright: #f7faf8;
    --surface-container-lowest: #ffffff;
    --surface-container-low: #f2f4f2;
    --surface-container: #eceeec;
    --surface-container-high: #e6e9e6;
    --surface-container-highest: #e0e3e1;
    --overlay: rgb(0 0 0 / 0.5);
    --active: rgb(0 0 0 / 0.1);
    --elevate1: 0 0.125rem 0.125rem 0 rgb(0 0 0 / 0.32);
    --elevate2: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 0.4);
    --elevate3: 0 0.375rem 0.75rem 0 rgb(0 0 0 / 0.48);
}

body.dark {
    --primary: #56dbc5;
    --on-primary: #003730;
    --primary-container: #005046;
    --on-primary-container: #76f8e1;
    --secondary: #b1ccc5;
    --on-secondary: #1c3530;
    --secondary-container: #334b46;
    --on-secondary-container: #cde8e1;
    --tertiary: #accae5;
    --on-tertiary: #133348;
    --tertiary-container: #2c4a60;
    --on-tertiary-container: #cae6ff;
    --error: #ffb4ab;
    --on-error: #690005;
    --error-container: #93000a;
    --on-error-container: #ffb4ab;
    --background: #191c1b;
    --on-background: #e0e3e1;
    --surface: #101413;
    --on-surface: #e0e3e1;
    --surface-variant: #3f4946;
    --on-surface-variant: #bec9c5;
    --outline: #899390;
    --outline-variant: #3f4946;
    --shadow: #000000;
    --scrim: #000000;
    --inverse-surface: #e0e3e1;
    --inverse-on-surface: #2d3130;
    --inverse-primary: #006b5e;
    --surface-dim: #101413;
    --surface-bright: #363a39;
    --surface-container-lowest: #0b0f0e;
    --surface-container-low: #191c1b;
    --surface-container: #1d201f;
    --surface-container-high: #272b2a;
    --surface-container-highest: #323534;
    --overlay: rgb(0 0 0 / 0.5);
    --active: rgb(255 255 255 / 0.2);
    --elevate1: 0 0.125rem 0.125rem 0 rgb(0 0 0 / 0.32);
    --elevate2: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 0.4);
    --elevate3: 0 0.375rem 0.75rem 0 rgb(0 0 0 / 0.48);
}
