<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.8.0/dist/cdn/beer.min.css" rel="stylesheet" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.8.0/dist/cdn/beer.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    <script type="module" src="/static/js/archives.js?v=1.7"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/theme.css?v=1.7">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?v=1.7">
    <link rel="icon" href="/static/icon.png">
    <title>Audio Archive</title>
    <meta property="og:title" content="Audio Archive" />
    <meta property="og:url" content="https://broadcasting.hbni.net/archives" />
    <meta property="og:image" content="https://broadcasting.hbni.net/static/icon.png" />
    <meta property="og:description" content="Download or relisten to previously broadcasted streams." />
</head>

<header class="fixed primary" id="main-header">
    <nav>
        <button class="circle transparent" onclick="window.location.href='/';">
            <i>arrow_back</i>
        </button>
        <h5 class="max small">Audio Archives</h5>
        <button class="circle transparent" onclick="window.location.href='/listeners_page';">
            <i>record_voice_over</i>
            <span>Listeners Page</span>
            <div class="tooltip left" id="event-tooltip-status">No broadcasts currently<br>online or events scheduled.</div>
            <div class="badge hidden" id="event-count">0</div>
        </button>
        <button class="circle transparent" id="toggle-theme">
            <i>dark_mode</i>
        </button>
    </nav>
</header>

<body class="dark hidden">
    <main class="responsive">
        <div class="field label prefix border round">
            <i>search</i>
            <input type="text" id="search">
            <label>Search</label>
            <div class="helper no-line">Search by date, description, or colony name</div>
        </div>
        <div class="no-results center-align middle-align" style="display: none;">No recordings found</div>
        <article id="contents" class="border round no-padding scroll grid no-space">
        </article>
        <div id="pagination-controls" class="row">
            <button id="prev-page-btn" class="border no-margin small-round" disabled>
                <i>chevron_left</i> <span>Back</span>
            </button>
            <nav id="page-numbers" class="max row center-align tiny-space scroll"></nav>
            <button id="next-page-btn" class="border no-margin small-round" disabled>
                <span>Next</span> <i>chevron_right</i>
            </button>
        </div>
    </main>
</body>

</html>
