<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google" content="notranslate" />
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.8.0/dist/cdn/beer.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/@ffmpeg/ffmpeg@0.12.13/dist/umd/ffmpeg.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.8.0/dist/cdn/beer.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css"/>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script type="module" src="/static/js/broadcasting_page.js?v=1.6" ></script>
    <link rel="stylesheet" type="text/css" href="/static/css/theme.css?v=1.6" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?v=1.6" />
    <link rel="icon" href="/static/icon.png" />
    <title>HBNI Audio Broadcasting</title>
    <meta property="og:title" content="HBNI Audio Broadcasting" />
    <meta property="og:url" content="https://broadcasting.hbni.net/broadcasting_page" />
    <meta property="og:image" content="https://broadcasting.hbni.net/static/icon.png" />
    <meta property="og:description" content="Broadcast streams to the HBNI Audio Streaming Service." />
</head>

<header class="fixed primary" id="header">
    <nav>
        <button class="circle transparent" onclick="window.location.href='/';">
            <i>arrow_back</i>
        </button>
        <h5 class="max small">Broadcasting Page</h5>
        <button class="circle transparent" id="toggle-theme">
            <i>dark_mode</i>
        </button>
    </nav>
</header>

<body class="dark hidden">
    <main class="responsive">
        <div class="grid">
            <article class="s12 m12 l6 round no-padding" style="height: fit-content !important;">
                <details id="broadcast-details">
                    <summary class=" padding" style="font-size: 18px;">
                    Broadcast Details
                    </summary>
                    <nav class="center-align">
                        <button onclick="window.location.href='/broadcasting_guide';">
                            <i>developer_guide</i>
                            <span>Broadcasting Guide</span>
                        </button>
                    </nav>
                    <form class="padding" id="metadataForm">
                        <div class="field label border">
                            <input type="text" id="host" name="host" required/>
                            <label>Colony Name</label>
                        </div>
                        <div class="field border label textarea">
                            <textarea type="text" id="description" name="description" required></textarea>
                            <label>Description</label>
                            <span class="helper no-line left-align">Explain what the broadcast is about</span>
                        </div>
                        <div class="row">
                        <div class="field label border max">
                            <input type="password" id="password" name="password" autocomplete="on" required />
                            <label>Password</label>
                        </div>
                        <button class="circle transparent link" type="button">
                            <i>help</i>
                            <div class="tooltip left max" style="inline-size: 14rem !important;">
                                <p class="small-width">
                                    Contact
                                    <a class="link" href="mailto:jared@pinelandfarms.ca">jared@pinelandfarms.ca</a>
                                    or
                                    <a class="link" href="mailto:justin@pinelandfarms.ca">justin@pinelandfarms.ca</a>
                                    if you need the password. The password is required to start or schedule a broadcast.
                                </p>
                            </div>
                        </button>
                        </div>
                        <div class="large-space"></div>
                        <div class="field middle-align no-margin">
                        <nav>
                            <div class="max">
                                <h6>Private Broadcast</h6>
                                <p class="no-line">Private broadcasts are not archived or visible to others.</p>
                            </div>
                            <label class="switch">
                                <input type="checkbox" id="isPrivate" name="isPrivate">
                                <span></span>
                            </label>
                            </nav>
                        </div>
                    </form>
                    <div class="row center-align padding">
                        <button id="scheduleBroadcast" class="max" onclick="ui('#schedule-dialog');" disabled>
                            <i>schedule</i>
                            <span>Schedule Event</span>
                        </button>
                        <button class="link transparent no-border" id="share-button">
                            <i>share</i>
                            <span>Share</span>
                        </button>
                    </div>
                </details>
            </article>
            <article class="s12 m12 l6 round no-padding" id="main-article" style="height: fit-content !important;">
                <details id="broadcast-controls">
                    <summary class=" padding" style="font-size: 18px;">
                    Broadcast Controls
                    </summary>
                    <nav class="center-align padding">
                        <i>volume_down</i>
                        <label class="small-width slider">
                            <input
                                type="range"
                                id="volumeControl"
                                min="0"
                                max="15"
                                step="0.1"
                                value="1"
                                disabled="disabled"
                            />
                            <span></span>
                            <div class="tooltip"></div>
                        </label>
                        <i>volume_up</i>
                    </nav>
                    <div class="grid padding">
                        <div class="grid max s12 m8 l8">
                            <div class="grid max s12 center-align">
                                <button id="startBroadcast" class=" extra s12" disabled>
                                    <i>play_circle</i>
                                    <span>Start Broadcast</span>
                                </button>
                                <button id="stopBroadcast" class=" extra s12" disabled>
                                    <i>stop_circle</i>
                                    <span>End Broadcast</span>
                                </button>
                            </div>
                        </div>
                        <div class="s12 m4 l4 middle-align center-align">
                            <button id="muteToggle" class="circle extra" style="height: 128px; width: 128px;     border-radius: 50%; " disabled>
                                <i class="mic-icon">mic</i>
                                <i>pen_size_1</i>
                                <i class="pause-icon">pause</i>
                            </button>
                        </div>
                    </div>
                    <canvas class="round" id="canvas" style="width: 100%; height: 100px"></canvas>
                </details>
            </article>
        </div>
    </main>
    <div class="snackbar error" id="incorrect-password">
        Incorrect Password
    </div>
    <div class="snackbar green" id="correct-password">
        Password Validated
    </div>
    <div class="snackbar error" id="schedule-error">
        Error Submitting Schedule
    </div>
    <div class="snackbar" id="schedule-success">
        <div class="max">Schedule Submitted</div>
        <a class="inverse-link" href="/listeners_page" target="_blank">View</a>
    </div>
    <div class="snackbar" id="broadcast-started">
        <div class="max">Broadcast Started</div>
        <a class="inverse-link" href="/listeners_page" target="_blank">View</a>
    </div>
    <div class="snackbar" id="copied-to-clipboard">
        Copied to Clipboard
    </div>
    <div class="overlay blur"></div>
    <dialog id="schedule-dialog">
        <h5 class="center-align">Schedule Event</h5>
        <p class="no-line medium-width">
            Events will remain visible for up to 2 hours after the scheduled date.
        </p>
        <div class="grid">
            <div class="field label prefix border s12">
                <i>artist</i>
                <input type="text" id="schedule-host" name="schedule-host" required/>
                <label>Colony Name</label>
            </div>
            <div class="field label prefix border s12 bottom-margin">
                <i>record_voice_over</i>
                <input type="text" id="schedule-speakers" name="schedule-speakers" required/>
                <label>Speaker(s)</label>
                <span class="helper no-line">For multiple speakers, separate with commas.</span>
            </div>
            <div class="field border label textarea s12 bottom-margin">
                <textarea
                    type="text"
                    id="schedule-description"
                    name="schedule-description"
                    required
                ></textarea>
                <label>Description</label>
                <span class="helper no-line">Explain what the event is about.</span>
            </div>
            <div class="field label prefix border s12">
                <i>event</i>
                <input type="date" id="date-time-picker" name="date" />
                <label>Date</label>
            </div>
            <button id="submit-schedule-button" class="s6">
                <i>send</i>
                <span>Submit</span>
            </button>
            <button class=" s6" onclick="ui('#schedule-dialog');">
                <i>close</i>
                <span>Cancel</span>
            </button>
        </div>
    </dialog>
    <dialog class="bottom" id="save-broadcast-dialog">
        <h5 class="center-align">Save Broadcast</h5>
        <p class="center-align">File Name: <code id="broadcast-file-name"></code></p>
        <p class="center-align">Do you want to save this broadcast? It will be saved to your device.</p>
        <nav class="center-align">
            <button id="save-broadcast-btn" >
                <i>save</i>
                <span>Save</span>
            </button>
            <button onclick="ui('#save-broadcast-dialog');">
                <i>close</i>
                <span>No</span>
            </button>
        </nav>
    </dialog>
</body>

</html>
