<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.7.12/dist/cdn/beer.min.css" rel="stylesheet"/>
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.7.12/dist/cdn/beer.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    <link href="/static/theme.css" rel="stylesheet">
    <link rel="icon" href="/static/icon.png">
    <title>HBNI Audio Archive</title>
    <meta property="og:title" content="HBNI Audio Archive"/>
    <meta property="og:url" content="https://audioarchives.hbni.net"/>
    <meta property="og:image" content="https://audioarchives.hbni.net/static/icon.png"/>
    <meta property="og:description" content="Download or relisten to previously broadcasted streams."/>
  </head>

  <body class="dark">
    <header class="fixed primary" id="header">
      <nav>
        <button class="circle transparent" onclick="ui('#info-dialog');">
          <img src="/static/icon.png" class="responsive">
        </button>
        <h5 class="max center-align small">HBNI Audio Broadcasting</h5>
        <button class="circle transparent" onclick="mode()" id="toggle-theme">
          <i>dark_mode</i>
        </button>
      </nav>
    </header>
    <main class="responsive center-align middle-align">
      <article class="large-width no-padding" id="main-article">
        <div class="row padding">
          <form class="max" id="metadataForm">
            <div class="field label prefix border">
              <i>link</i>
              <input type="text" id="host" name="host">
              <label>Mount Point</label>
              <span class="helper no-line">E.g., Colony name such as pineland</span>
            </div>
            <div class="field border label textarea">
              <textarea type="text" id="description" name="description" required="required"></textarea>
              <label>Broadcast Description</label>
              <span class="helper no-line">Explain what the broadcast is about.</span>
            </div>
            <div class="field label border">
              <input type="password" id="password" name="password">
              <label>Password</label>
              <span class="helper no-line">Contact
                <a class="link" href="mailto:jared@pinelandfarms.ca">jared@pinelandfarms.ca</a>
                if you need the password.</span>
            </div>

            <label class="checkbox">
              <input type="checkbox" id="isPrivate" name="isPrivate">
              <span>Private Broadcast</span>
            </label>
          </form>
          <nav class="no-space vertical center-align">
            <i>volume_up</i>
            <label class="slider vertical">
              <input type="range" id="volumeControl" min="0" max="2" step="0.1" value="1" disabled="disabled">
              <span></span>
            </label>
            <i>volume_down</i>
          </nav>
        </div>
        <br>
        <button id="startBroadcast" class="small-round">
          <i>play_arrow</i>
          <span>Start Broadcast</span>
        </button>

        <button id="stopBroadcast" class="small-round" disabled="disabled">
          <i>stop</i>
          <span>Stop Broadcast</span>
        </button>

        <button id="muteToggle" class="small-round" disabled="disabled">
          <i>home</i>
          <span>Mute</span>
        </button>
        <canvas id="canvas" style="width: 100%; height: 100px"></canvas>
      </article>
    </main>
    <script>
      const mode = () => {
        let currentMode = localStorage.getItem("mode") || "dark";
        let newMode = currentMode === "dark" ? "light" : "dark";
        localStorage.setItem("mode", newMode); // Save mode to localStorage
        ui("mode", newMode);
        updateIcon(newMode);
        updateImageSource();
        document
          .documentElement
          .classList
          .toggle("dark", newMode === "dark");
      };

      function updateImageSource() {
        const mode = localStorage.getItem('mode') || 'light';
        const images = document.querySelectorAll('img[id^="recording-card-image"]');
        images.forEach(image => {
          image.src = mode === 'dark'
            ? '/static/hbni_logo_dark.png'
            : '/static/hbnilogo.png';
        });
      }

      const updateIcon = (mode) => {
        const iconElements = document.querySelectorAll('#toggle-theme i');
        iconElements.forEach(iconElement => {
          iconElement.textContent = mode === "dark"
            ? "light_mode"
            : "dark_mode";
        });
      };

      let mediaRecorder;
      let ws;
      let audioContext;
      let gainNode;
      let sourceNode;
      let isMuted = false;
    let analyser;
    let dataArray;
    let canvas;
    let canvasCtx;

      document.getElementById('startBroadcast').addEventListener('click', async () => {
          try {
            const host = document.getElementById('host').value;
            const description = document.getElementById('description').value;
            const password = document.getElementById('password').value;
            const isPrivate = document.getElementById('isPrivate').checked;

            if (!host || !description || !password) {
              alert("Please provide all the required fields.");
              return;
            }

            // Capture audio
            const stream = await navigator.mediaDevices.getUserMedia({audio: true});

            // Initialize audio processing
            audioContext = new AudioContext();
            analyser = audioContext.createAnalyser();
            sourceNode = audioContext.createMediaStreamSource(stream);
            gainNode = audioContext.createGain();
            const source = audioContext.createMediaStreamSource(stream);

            // Connect the source to the analyser
            source.connect(analyser);

            // Configure analyser
            analyser.fftSize = 256; // Adjust for finer or coarser resolution
            const bufferLength = analyser.frequencyBinCount;
            dataArray = new Uint8Array(bufferLength);

        // Start visualizing
        visualize();

            sourceNode.connect(gainNode);
            gainNode.connect(audioContext.destination);
            // Initialize secure WebSocket connection to Tornado backend
            const protocol = window.location.protocol === 'https:'
              ? 'wss'
              : 'ws';
            ws = new WebSocket(`${protocol}://${window.location.host}/broadcast_ws`);
            ws.binaryType = 'arraybuffer';

            ws.onopen = () => {
              // Send metadata to the server
              const metadata = {
                host: host,
                description: description,
                password: password,
                isPrivate: isPrivate
              };

              ws.send(JSON.stringify(metadata));

              // Disable inputs after starting
              document.getElementById('startBroadcast').disabled = true;
              document.getElementById('stopBroadcast').disabled = false;
              document.getElementById('isPrivate').disabled = true;
              document.getElementById('password').disabled = true;
              document.getElementById('muteToggle').disabled = false;
              document.getElementById('volumeControl').disabled = false;

              const options = {
                mimeType: 'audio/webm;codecs=opus'
              };

              if (!MediaRecorder.isTypeSupported(options.mimeType)) {
                console.error(`MIME type ${options.mimeType} is not supported.`);
                alert("The specified audio format is not supported by your browser.");
                return;
              }

              mediaRecorder = new MediaRecorder(stream, options);

              mediaRecorder.ondataavailable = (event) => {
                if (ws.readyState === WebSocket.OPEN) {
                  // Convert Blob to ArrayBuffer and then send
                  event.data.arrayBuffer().then(buffer => {
                      ws.send(new Uint8Array(buffer));
                    });
                }
              };

              mediaRecorder.start(250); // Send data every 250ms
            };

            ws.onerror = (error) => {
              console.error("WebSocket error:", error);
            };

            ws.onclose = () => {
              // Enable inputs after stopping
              document.getElementById('startBroadcast').disabled = false;
              document.getElementById('stopBroadcast').disabled = true;
              document.getElementById('isPrivate').disabled = false;
              document.getElementById('password').disabled = false;
              document.getElementById('muteToggle').disabled = true;
              document.getElementById('volumeControl').disabled = true;

              // Stop the audio stream
              stream
                .getTracks()
                .forEach(track => track.stop());
            };
          } catch (error) {
            alert("Error accessing microphone: " + error.message);
          }
        });

      document.getElementById('stopBroadcast').addEventListener('click', () => {
          if (ws) {
            ws.close();
          }

          if (mediaRecorder) {
            mediaRecorder.stop();
          }
          if (audioContext) {
              audioContext.close();
          }
          canvasCtx.clearRect(0, 0, canvas.width, canvas.height);
        });

      document.getElementById('muteToggle').addEventListener('click', () => {
          if (gainNode) {
            isMuted = !isMuted;
            gainNode.gain.value = isMuted ? 0 : parseFloat(document.getElementById('volumeControl').value);
            document.getElementById('muteToggle').innerText = isMuted ? 'Unmute' : 'Mute';
            document.getElementById('muteToggle').querySelector('i').textContent = isMuted ? 'volume_up' : 'volume_off';
          }
        });

      document.getElementById('volumeControl').addEventListener('input', (event) => {
          if (gainNode && !isMuted) {
            gainNode.gain.value = parseFloat(event.target.value);
          }
        });

        function visualize() {
            const WIDTH = canvas.width;
            const HEIGHT = canvas.height;
            const barWidth = (WIDTH / dataArray.length) * 2.5;

            function draw() {
                requestAnimationFrame(draw);

                analyser.getByteFrequencyData(dataArray);

                // Clear the canvas
                var articleBackgroundColor = window.getComputedStyle(
                    document.getElementById("main-article")
                ).backgroundColor;

                canvasCtx.fillStyle = articleBackgroundColor;
                canvasCtx.fillRect(0, 0, WIDTH, HEIGHT);

                let x = 0;

                // Draw the frequency bars
                for (let i = 0; i < dataArray.length; i++) {
                    const barHeight = dataArray[i] / 2;

                    // Color logic (gradient based on frequency intensity)
                    const r = (barHeight + 100) % 255;
                    const g = (barHeight * 2) % 255;
                    const b = (barHeight * 3) % 255;

                    var header = document.getElementById("header");
                    var headerStyle = getComputedStyle(header);
                    var headerBackgroundColor = headerStyle.backgroundColor;
                    canvasCtx.fillStyle = headerBackgroundColor;
                    canvasCtx.fillRect(x, HEIGHT - barHeight, barWidth, barHeight);

                    x += barWidth + 1;
                }
            }

            draw();
    }
    document.addEventListener('DOMContentLoaded', function () {
        // Initialize canvas and audio context
        canvas = document.getElementById("canvas");
        canvasCtx = canvas.getContext("2d");

        // Set up the canvas for visualization
        const dpr = window.devicePixelRatio || 1;
        canvas.width = canvas.clientWidth * dpr;
        canvas.height = canvas.clientHeight * dpr;
        canvasCtx.scale(dpr, dpr);

        let savedMode = localStorage.getItem("mode") || "light";
        ui("mode", savedMode);
        updateIcon(savedMode);
        document.documentElement.classList.toggle("dark", savedMode === "dark");
        const searchInput = document.getElementById('search');

        const header = document.getElementById('main-header');
        const bottomNav = document.getElementById('bottom-nav');

        const observer = new IntersectionObserver(function (entries) {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    header.style.display = 'block';
                } else {
                    header.style.display = 'none';
                }
            });
        });

        observer.observe(bottomNav);
        searchInput.addEventListener('input', searchAndFilter);
        updateImageSource();
    });
    </script>
  </body>

</html>
