<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google" content="notranslate" />
    <link rel="icon" href="/static/icon.png" />
    <title>HBNI Audio Broadcasting</title>
    <meta property="og:title" content="HBNI Audio Broadcasting" />
    <meta property="og:url" content="https://broadcasting.hbni.net/broadcasting_page" />
    <meta property="og:image" content="https://broadcasting.hbni.net/static/icon.png" />
    <meta property="og:description" content="Broadcast streams to the HBNI Audio Streaming Service." />
    <meta name="color-scheme" content="dark light">
</head>

<header class="fixed primary" id="header">
    <nav>
        <button class="circle transparent" onclick="window.location.href='/';">
            <i>arrow_back</i>
        </button>
        <h5 class="max small">Broadcasting Page</h5>
    </nav>
</header>

<body class="hidden">
    <main class="responsive">
        <article class="no-padding round border" id="main-article">
            <div class="padding">
                <details id="broadcast-details" open>
                    <summary style="font-size: 18pt;">
                        <article class="round primary no-elevate">
                            <nav>
                                <div class="max">Broadcast Details</div>
                                <i>expand_more</i>
                            </nav>
                        </article>
                    </summary>
                    <nav class="row tiny-space border round padding top-margin surface-container-high">
                        <div class="max">
                            <div class="field label border small-round">
                                <input type="text" id="host" name="host" required/>
                                <label>Colony Name</label>
                                <span class="helper no-line left-align" id="host-helper"></span>
                            </div>
                            <div class="field label border small-round">
                                <input type="password" id="password" name="password" autocomplete="on" required />
                                <label>Password</label>
                            </div>
                            <div class="field border small-round label textarea">
                                <textarea type="text" id="description" name="description" required></textarea>
                                <label>Description</label>
                                <span class="helper no-line left-align">Explain what the broadcast is about</span>
                            </div>
                            <label class="checkbox">
                                <input type="checkbox" id="isPrivate" name="isPrivate">
                                <span>Private Broadcast</span>
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" id="usePhoneIn" name="usePhoneIn">
                                <span>Enable Phone-in Listening</span>
                            </label>
                        </div>
                        <nav class="toolbar vertical">
                            <button class="circle transparent link">
                                <i>help</i>
                                <div class="tooltip left max" style="inline-size: 14rem !important;">
                                    <p class="small-width">
                                        For assistance, please contact:
                                        <br>
                                        <a class="link underline" href="mailto:jared@hbni.net">jared@hbni.net</a> for website-related inquiries
                                        or
                                        <a class="link underline" href="mailto:justin@hbni.net">justin@hbni.net</a> for broadcasting or audio issues.
                                        <br><br>
                                        A password is required to start or schedule a broadcast.
                                    </p>
                                </div>
                            </button>
                            <button class="circle transparent link" onclick="window.open('/broadcasting_guide', '_blank');">
                                <i>developer_guide</i>
                                <div class="tooltip left">
                                    Broadcasting Guide <i>open_in_new</i>
                                </div>
                            </button>
                            <button class="circle transparent link" id="share-button">
                                <i>share</i>
                            </button>
                        </nav>
                    </nav>
                </details>
                <nav class="left-align bottom-margin grid">
                    <button id="startBroadcast" class="s12 m3 l2 vertical" disabled>
                        <i>play_circle</i>
                        <span>Start Broadcast</span>
                    </button>
                    <button id="stopBroadcast" class="s12 m3 l2 vertical" disabled>
                        <i>stop_circle</i>
                        <span>Stop Broadcast</span>
                    </button>
                </nav>
                <nav class="wrap no-space">
                    <button class="chip tiny-margin">
                        <i>schedule</i>
                        <span id="length">Haven't started yet</span>
                    </button>
                    <button class="chip tiny-margin">
                        <i>people</i>
                        <span id="listeners">NA</span>
                    </button>
                    <button class="chip tiny-margin">
                        <i>trending_up</i>
                        <span id="listener-peak">NA</span>
                    </button>
                    <button class="chip tiny-margin">
                        <i id="broadcast-status-icon">public</i>
                        <span id="broadcast-status-text">Public</span>
                        <div class="tooltip bottom">
                            <span class="left-align" id="broadcast-status-tooltip">
                                Public broadcasts are<br>archived and visible to others.
                            </span>
                        </div>
                    </button>
                    <button class="chip tiny-margin">
                        <i id="phonein-status-icon">call_end</i>
                        <span id="phonein-status-text">Phone-in Disabled</span>
                        <div class="tooltip bottom">
                            <span class="left-align" id="phonein-status-tooltip">
                                Listeners cannot call in to listen<br>using a phone line.
                            </span>
                        </div>
                    </button>
                    <button class="chip tiny-margin hidden" id="live-indicator">
                        <span id="current-time" class="live-indicator"></span>
                    </button>
                </nav>
                <div class="row wrap padding center-align middle-align">
                    <button id="muteToggle" class="circle extra center-align" style="height: 128px; width: 128px;     border-radius: 50%; " disabled>
                        <i class="mic-icon">mic</i>
                        <i>pen_size_1</i>
                        <i class="pause-icon">pause</i>
                    </button>
                </div>
            </div>
            <canvas class="round" id="canvas" style="width: 100%; height: 100px"></canvas>
        </article>
    </main>
    <div class="snackbar error" id="incorrect-password">
        Incorrect Password
    </div>
    <div class="snackbar green" id="correct-password">
        Password Validated
    </div>
    <div class="snackbar" id="broadcast-started">
        <div class="max">Broadcast Started</div>
        <a class="inverse-link" href="/listeners_page" target="_blank">View</a>
    </div>
    <div class="snackbar" id="copied-to-clipboard">
        Copied to Clipboard
    </div>
    <dialog class="bottom modal" id="save-broadcast-dialog">
        <h5 class="center-align">Save Broadcast</h5>
        <p class="center-align">File Name: <code class="small-round" id="broadcast-file-name"></code></p>
        <p class="center-align">Do you want to save this broadcast? It will be saved to your device.</p>
        <nav class="center-align">
            <button id="save-broadcast-btn" >
                <i>save</i>
                <span>Save</span>
            </button>
            <button onclick="ui('#save-broadcast-dialog');">
                <i>close</i>
                <span>No</span>
            </button>
        </nav>
    </dialog>
</body>

</html>
