<!doctype html>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.js"></script>
<script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>
<script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script>
<title>HBNI Document Archive</title>

<head>
    <link rel="icon" href="/static/favicon.png">
    <link type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css"
        rel="stylesheet" />
    <link type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.css"
        rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href='/static/main.css' />
    <link type="text/css" rel="stylesheet" href='/static/ionicons.css' />

    <meta property="og:title" content="HBNI Document Archive" />
    <meta property="og:url" content="http://audioarchives.hbni.net:5050/documents.html" />
    <meta property="og:image" content="http://audioarchives.hbni.net/static/hbnilogo.png" />
    <meta property="og:description" content="View archived Hutterite documents." />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div id="Page1">
        <div id="menu">
            <h1 id="header">Login Page</h1>
        </div>
        <form name="login" id="passwordLabel" style="padding-top:20%;">
            <div class="search-box">
                <input type="password" placeholder="Password" id="search" name="pswrd">
            </div>
            <br>
            <em id='tip'>Do not press Enter.</em>
            <br>
            <input id="login" type="button" onclick="check(this.form)" value="Login" />
        </form>
    </div>
    <div id="Page2" style="display:none">
        <div id="logo">
            <img src="/static/hbnilogo.png">
        </div>
        <div id="menu">
            <h1 id="header">HBNI Document Archive</h1>
        </div>
        <div>
            <br>
            <div class="search-box">
                <div class="search-icon"><i class="fa fa-search search-icon"></i></div>
                <form action="" class="search-form">
                    <input type="text" placeholder="Search" id="search" autocomplete="off" value={{searchValue}}>
                </form>
                <svg class="search-border" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" viewBox="0 0 671 111"
                    style="enable-background:new 0 0 671 111;" xml:space="preserve">
                    <path class="border" d="M335.5,108.5h-280c-29.3,0-53-23.7-53-53v0c0-29.3,23.7-53,53-53h280" />
                    <path class="border" d="M335.5,108.5h280c29.3,0,53-23.7,53-53v0c0-29.3-23.7-53-53-53h-280" />
                </svg>
                <div class="go-icon"><i class="fa fa-close"></i></div>
            </div>
        </div>
        <div class="contents">

        </div>
        <br>
        <p>Nothing is here yet, this is just a blank page, I have plans to add documents that I have worked on here.</p>
        <footer>
            <div class="footer-bottom">
                <p>Copyright 2022 by TheCodingJ's</p>
            </div>
        </footer>
    </div>
</head>

</html>

<script language="javascript">
    function check(form) {
        /*function to check userid & password*/
        /*the following code checkes whether the entered userid and password are matching*/
        if (form.pswrd.value == "{{password}}") {
            show('Page2', 'Page1');
        } else {
            alert("Access Denied") /*displays error message*/
        }
    }

    function show(shown, hidden) {
        document.getElementById(shown).style.display = 'block';
        document.getElementById(hidden).style.display = 'none';
        return false;
    }
</script>