<!doctype html>
<title>HBNI Audio Archive - Frequently Asked Questions</title>

<body id="faq">

    <head>
        <script src="/static/jquery.js"></script>
        <script src="/static/bootstrap.js"></script>
        <script src="/static/bootstrap-select.js"></script>
        <script src="/static/materialize.min.js"></script>
        <link type="text/css" href="/static/bootstrap.css" rel="stylesheet" />
        <link type="text/css" href="/static/bootstrap-select.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/materialize.min.css">
        <link rel="stylesheet" href="/static/icon.css">
        <link type="text/css" rel="stylesheet" href='/static/main.css' />
        <link rel="icon" href="/static/icon.png">

        <meta property="og:title" content="HBNI Audio Archive - Frequently Asked Questions" />
        <meta property="og:url" content="http://audioarchives.hbni.net:5050/frequently-asked-questions.html" />
        <meta property="og:image" content="http://audioarchives.hbni.net/static/hbnilogo.png" />
        <meta property="og:description" content="Answers to some frequently asked questions regarding this service." />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <div id="menu">
        <h2 style="text-align: center;">Frequently Asked Questions</h2>
    </div>
    <div>
        <div class="contents-container">
            <h4>Contents</h4>
            <ul>
                <li><a href="#how_do_i_play_archives_without_downloading_them">1 How do I play archives without
                        downloading
                        them?</a>
                    <ul>
                        <li><a href="#apple">1.1 Apple</a></li>
                        <li><a href="#android">1.2 Android</a></li>
                        <li><a href="#windows">1.2 Windows (Computer)</a></li>
                    </ul>
                </li>
                <li><a href="#where_are_archives_stored">2 Where are the archives stored</a></li>
                <li><a href="#why_are_you_using_both_mega_and_googledrive">3 Why are you using both Mega and
                        GoogleDrive?</a></li>
                <li><a href="#why_not_migrate_the_entire_database_over_to_googledrive">4 Why not migrate the entire
                        database
                        over to GoogleDrive?</a></li>
                <li><a href="#why_stop_using_googledrive">5 Why stop using GoogleDrive?</a></li>
                <li><a href="#i_want_to_remove_a_broadcast_on_the_archive">6 I want to remove a broadcast on the
                        archive.</a></li>
                <li><a href="#i_dont_want_any_of_my_broadcasts_on_the_archive_and_never_be_recorded">7 I don't want
                        any
                        of
                        my broadcasts on the archive and never be recorded.</a></li>
                <li><a href="#why_is_the_broadcast_not_finished_or_missing">8 Why is the broadcast not finished or
                        missing?</a></li>
                <li><a href="#how_long_does_it_take_to_upload_archives">9 How long does it take to upload
                        archives?</a>
                </li>
            </ul>
        </div>
        <br>
        <div class="center">
            <h4 id="how_do_i_play_archives_without_downloading_them"> How do I play archives without downloading
                them?
            </h4>
            <h4 id="apple"> Apple </h4>
            <p>
                1. Install <a href="https://apps.apple.com/us/app/mega/id706857885">Mega</a> or <a
                    href="https://apps.apple.com/ca/app/google-drive/id507874739">GoogleDrive</a> on your phone.
                (You
                may or
                may not have to create an account) <br>
                2. Go to the <a href="http://audioarchives.hbni.net:5050">HBNI archive</a> and press any archive you
                want to
                listen to. <br>
                3. You will be redirected to the <a href="https://apps.apple.com/us/app/mega/id706857885">Mega</a>
                or <a href="https://apps.apple.com/ca/app/google-drive/id507874739">GoogleDrive</a> app. <br>
                4. You can directly play the broadcast that way without downloading it to your device.
            </p>
            <h4 id="android"> Android </h4>
            <p>
                1. Install <a
                    href="https://play.google.com/store/apps/details?id=mega.privacy.android.app&hl=en_US&gl=US">Mega</a>
                or
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.docs">GoogleDrive</a>
                on
                your
                phone. (You may or may not have to create an account) <br>
                2. Go to the <a href="http://audioarchives.hbni.net:5050">HBNI archive</a> and press any archive you
                want to
                listen to. <br>
                3. You will be redirected to the <a
                    href="https://play.google.com/store/apps/details?id=mega.privacy.android.app&hl=en_US&gl=US">Mega</a>
                or
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.docs">GoogleDrive</a>
                app.
                <br>
                4. You can directly play the broadcast that way without downloading it to your device.
            </p>
            <h4 id="windows"> Windows (Computer) </h4>
            <p>
                Just press on any archive on the <a href="http://audioarchives.hbni.net:5050">HBNI archive</a>, you
                will be redirected to <a href="https://mega.nz">mega.nz</a> or <a
                    href="https://drive.google.com">GoogleDrive</a>, from there you can just press play.
            </p>
            <br>
            <h4 id="where_are_archives_stored"> Where are the archives stored? </h4>
            <h4>2022-07-12 to 2023-07-21</h4>
            <p>
                The archives (as of 2022-07-12 to 2023-07-21) are stored on a file hosting website called <a
                    href="https://mega.nz">mega.nz</a>. <br>
                The folder where all archives are stored online is <a
                    href="https://mega.nz/folder/CxF1AQwS#rucPTrUDuhHE5I76NtpkLA">here</a>. <br>
            </p>
            <h4>2023-07-21 to 2023-07-29</h4>
            <p>
                The archives (as of 2023-07-21 to 2023-07-29) are stored on a file hosting website called <a
                    href="https://drive.google.com">GoogleDrive</a>. <br>
                The folder where all archives are stored online is <a
                    href="https://drive.google.com/drive/u/0/folders/1ceDO2zOx8pdEzQDRa-aHXVXhXO-QT-cq">here</a>.
                <br>
            </p>
            <h4>2023-07-29 to today</h4>
            <p>
                The archives (as of 2023-07-29 to today) are stored on our own servers in Pineland Colony.<br>
            </p>
            <p>
                All data on each broadcast (date, length, host, description, etc...) can be found <a
                    href="https://github.com/TheCodingJsoftware/HBNI-Audio-Stream-Recorder/blob/master/downloadLinks.json">here</a>.
                <br>
            <p style="padding-left: 30px;"> This data is what the archive refers from, whatever changes in this
                file,
                changes on the <a href="http://audioarchives.hbni.net:5050">HBNI archive</a>.
            </p>
            <p>Data such as the <a
                    href="https://github.com/TheCodingJsoftware/HBNI-Audio-Stream-Recorder/blob/master/graph.png">graphs</a>
                or listeners count is not publicly available, if you wish to access it please email me at: <a
                    href="mailto:jared@pinelandfarms.ca">jared@pinelandfarms.ca</a></p>
            </p>
            <br>
            <h4 id="why_are_you_using_both_mega_and_googledrive"> Why are you using both Mega and GoogleDrive? </h4>
            <p>
                <a href="https://mega.nz">mega.nz</a> was easier and quicker to get started with back in 2022.
                However, I have ran out of storage space on <a href="https://mega.nz">mega.nz</a> and needed to
                switch
                over
                to <a href="https://drive.google.com">GoogleDrive</a> which is supported by HBNI.<br>
            </p>
            <br>
            <h4 id="why_not_migrate_the_entire_database_over_to_googledrive"> Why not migrate the entire database
                over
                to
                GoogleDrive? </h4>
            <p>
                <a href="https://mega.nz">mega.nz</a> does not offer a easy way to migrate a database. As time went
                on
                <a href="https://mega.nz">mega.nz</a> methods of uploading files has changed and and the data that
                is
                required to migrate them is inconsistent, making it really difficult to port over. Some broadcasts
                would
                be
                lost in the process which is not ideal. <br>
            </p>
            <br>
            <h4 id="why_stop_using_googledrive"> Why stop using GoogleDrive? </h4>
            <p>
                Google does not allow the creation of a permanent access token to your GoogleDrive, I would have to
                refresh
                the token every week or so to keep the system working, which is not ideal. <br>
            </p>
            <br>
            <h4 id="i_want_to_remove_a_broadcast_on_the_archive"> I want to remove a broadcast on the archive. </h4>
            <p>
                Please email me the exact details at: <a href="mailto:jared@pinelandfarms.ca">jared@pinelandfarms.ca</a>
            </p>
            <br>
            <h4 id="i_dont_want_any_of_my_broadcasts_on_the_archive_and_never_be_recorded"> I don't want any of my
                broadcasts on the archive and never be recorded. </h4>
            <p>
                Please email me at: <a href="mailto:jared@pinelandfarms.ca">jared@pinelandfarms.ca</a> <br>
                **NOTE** The <a href="https://github.com/TheCodingJsoftware/HBNI-Audio-Stream-Recorder">HBNI
                    recorder</a> records all broadcasts by default, if you wish to be exempt from these conditions,
                the
                recorder has <a
                    href="https://github.com/TheCodingJsoftware/HBNI-Audio-Stream-Recorder/blob/master/hostsToIgnore.txt">list</a>
                of hosts will never be recorded. Just make sure when you start a broadcast, use the same host name
                each
                time.
            </p>
            <br>
            <h4 id="why_is_the_broadcast_not_finished_or_missing"> Why is the broadcast not finished or missing?
            </h4>
            <p>
                Often times if a broadcast is not uploaded or is shorter then it should be it is because during the
                recording process we may have lost internet connection, this is something we cannot predict or do
                much
                about, thats just how it is.
            </p>
            <br>
            <h4 id="how_long_does_it_take_to_upload_archives"> How long does it take to upload archives? </h4>
            <p>
                Broadcasts should be succesfully uploaded within 5 minutes since its been on the air. This greatly
                depends on the length on the broadcast. Sometimes, when a broadcast has been split up into multiple
                parts or
                failed to upload due to losing internet connection we may have to manually upload it which can take
                some
                time.
            </p>
        </div>
    </div>
    <br>
    <br>
</body>