<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <meta name="description" content="Browse archived broadcasts, schedule events, broadcast live audio, and view live broadcasts and scheduled events.">
    <link rel="icon" href="/static/icon.png">
    <title>HBNI Audio</title>
    <meta property="og:title" content="HBNI Audio" />
    <meta property="og:url" content="https://broadcasting.hbni.net" />
    <meta property="og:image" content="https://broadcasting.hbni.net/static/icon.png" />
    <meta property="og:description" content="Browse archived broadcasts, schedule events, broadcast live audio, and view live broadcasts and scheduled events." />
</head>
<div class="overlay blur"></div>
<dialog id="download-dialog">
    <h3 class="center-align">Apps</h3>
    <div class="grid">
        <button class="s4" onclick="location.href='https://github.com/TheCodingJsoftware/HBNI-Audio-Stream-Listener/releases';">
            <i>desktop_windows</i>
            <span>Desktop</span>
        </button>
        <button class="s4" onclick="location.href='https://apps.apple.com/ca/app/hbni-audio-streaming/id1611672333';">
            <i>ios</i>
            <span>Apple</span>
        </button>
        <button class="s4" onclick="location.href='https://play.google.com/store/apps/details?id=com.thecodingjsoftware.hutteritechurch';">
            <i>android</i>
            <span>Android</span>
        </button>
    </div>
</dialog>

<div class="overlay blur"></div>
<dialog id="info-dialog">
    <div class="right-align">
        <button class="transparent circle" onclick="ui('#info-dialog');">
            <i>close</i>
        </button>
    </div>
    <div class="row max center-align">
        <img class="responsive circle border" src="/static/icon.png" style="height: auto; max-width: 150px;">
    </div>
    <div class="padding">
        <h5 class="small center-align">HBNI Audio</h5>
        <p class="center-align">
            Browse archived broadcasts, schedule events, broadcast live audio, and view live broadcasts and scheduled events.
        </p>
        <br>
        <p class="center-align">Developed with <button id="love-button" class="chip circle ripple no-border transparent no-margin"><i style="color: var(--error)">favorite</i><div class="tooltip top">love (<span id="love-count">0</span>)</div></button> by <a class="link" href="https://thecodingjsoftware.github.io/">TheCodingJ's</a></p>
    </div>
    <br>
    <article class="border" style="margin-top: auto;">
        <p class="center-align">
            For questions, comments, suggestions,
            or concerns about this service please
            email: <a class="link" href="mailto:jared@pinelandfarms.ca">jared@pinelandfarms.ca</a>
        </p>
    </article>
</dialog>

<div class="overlay blur"></div>
<dialog id="schedule-dialog">
    <h5 class="center-align">Schedule Event</h5>
    <p class="no-line medium-width">
        Events will remain visible for up to 2 hours after the scheduled date.
    </p>
    <div class="grid">
        <div class="field label prefix border s12">
            <i>home_pin</i>
            <input type="text" id="schedule-host" name="schedule-host" required/>
            <label>Colony Name</label>
        </div>
        <div class="field label prefix border s12 bottom-margin">
            <i>record_voice_over</i>
            <input type="text" id="schedule-speakers" name="schedule-speakers" required/>
            <label>Speaker(s)</label>
            <span class="helper no-line">For multiple speakers, separate with commas.</span>
        </div>
        <div class="field suffix border label s12">
            <select id="schedule-duration" name="schedule-duration">
                <option disabled selected>Select a duration</option>
                <option>approximately 30 minutes</option>
                <option>approximately 45 minutes</option>
                <option>approximately 1 hour</option>
                <option>approximately 1 hour 30 minutes</option>
                <option>approximately 2 hours</option>
                <option>approximately 2 hours 30 minutes</option>
                <option>approximately 3 hours</option>
                <option>approximately 3 hours 30 minutes</option>
                <option>approximately 4 hours</option>
                <option>approximately 4 hours 30 minutes</option>
                <option>approximately 5 hours</option>
            </select>
            <label>Duration</label>
            <i>timer</i>
        </div>

        <div class="field border label textarea s12 bottom-margin">
            <textarea
                type="text"
                id="schedule-description"
                name="schedule-description"
                required
            ></textarea>
            <label>Description</label>
            <span class="helper no-line">Explain what the event is about.</span>
        </div>
        <div class="field label prefix border s12">
            <i>event</i>
            <input type="date" id="date-time-picker" name="date" />
            <label>Date</label>
        </div>
        <button id="submit-schedule-button" class="s6">
            <i>send</i>
            <span>Submit</span>
        </button>
        <button class=" s6" onclick="ui('#schedule-dialog');">
            <i>close</i>
            <span>Cancel</span>
        </button>
    </div>
</dialog>

<header class="fixed primary" id="main-header">
    <nav>
        <button class="circle transparent" onclick="ui('#info-dialog');">
            <img src="/static/icon.png" class="responsive">
        </button>
        <h5 class="max center-align small">HBNI Audio</h5>
        <button class="circle transparent" id="toggle-theme">
            <i>dark_mode</i>
        </button>
    </nav>
</header>

<body class="dark hidden">
    <main class="responsive">
        <div class="absolute center middle large-width padding grid">
            <button class="border small-round left-align extra s6 m4 l4" onclick="window.location.href='/archives';">
                <i>library_music</i>
                <span>Audio Archives</span>
            </button>
            <button class="border small-round left-align extra s6 m4 l4" onclick="window.location.href='/broadcasting_page';">
                <i>adaptive_audio_mic</i>
                <span>Broadcast Audio</span>
            </button>
            <button id="schedule-broadcast-button" class="border small-round left-align extra s6 m4 l4">
                <i>event</i>
                <span>Schedule Event</span>
            </button>
            <button class="border small-round left-align extra s6 m4 l4" onclick="window.location.href='/events';">
                <i>record_voice_over</i>
                <span>Current Events</span>
                <div id="event-tooltip-status" class="tooltip top"></div>
                <div id="event-count" class="badge none hidden"></div>
            </button>
            <button class="border small-round left-align extra s6 m4 l4" onclick="window.location.href='/broadcasting_guide';">
                <i>developer_guide</i>
                <span>Broadcasting Guide</span>
            </button>
            <button class="border small-round left-align extra s6 m4 l4" onclick="ui('#download-dialog');">
                <i>apps</i>
                <span>Apps</span>
            </button>
            <button class="border small-round left-align extra s6 m4 l4" onclick="window.location.href='/faq';">
                <i>help</i>
                <span>FAQ</span>
                <div class="tooltip bottom">Frequently Asked Questions</div>
            </button>
            <button class="border small-round left-align extra s6 m4 l4" onclick="ui('#info-dialog');">
                <i>info</i>
                <span>Info</span>
            </button>
        </div>
        <div class="snackbar" id="notification-snackbar">
            <div class="max" id="text"></div>
            <a class="inverse-link" href="/events">View</a>
        </div>
        <div class="snackbar" id="firebase-notification-snackbar">
            <div class="grid no-space max">
                <div class="s12 bold" id="title"></div>
                <div class="s12" id="text"></div>
            </div>
            <a class="inverse-link" href="/events">View</a>
        </div>
        <div class="snackbar" id="no-broadcasts-or-events-scheduled">
            <p class="no-line no-margin">No broadcasts currently online or events scheduled.</p>
        </div>
        <div class="snackbar error" id="schedule-error">
            Error Submitting Schedule
        </div>
        <div class="snackbar" id="schedule-success">
            <div class="max">Schedule Submitted</div>
            <a class="inverse-link" href="/listeners_page" target="_blank">View</a>
        </div>
    </main>
</body>
</html>
