<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">

<head>
    <meta name="google-site-verification" content="vcOIptkKP6Vuu0YT_l22Njb7_ZvnBehM_lBXgF8RiNU" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <meta name="description" content="Browse archived broadcasts, schedule events, broadcast live audio, and view live broadcasts and scheduled events.">
    <link rel="icon" href="/static/icon.png">
    <title>HBNI Audio</title>
    <meta property="og:title" content="HBNI Audio" />
    <meta property="og:url" content="https://broadcasting.hbni.net" />
    <meta property="og:image" content="https://broadcasting.hbni.net/static/icon.png" />
    <meta property="og:description" content="Browse archived broadcasts, schedule events, broadcast live audio, and view live broadcasts and scheduled events." />
    <link rel="manifest" href="manifest.json" />
    <!-- Optional: use prerender for one "most-likely" page -->
    <link rel="prerender" href="/archives">
    <meta name="color-scheme" content="dark light">
</head>

<div class="overlay blur"></div>
<dialog id="info-dialog" class="left medium-width">
    <div>
        <button class="transparent circle" onclick="ui('#info-dialog');">
            <i>close</i>
        </button>
    </div>
    <div class="row max center-align">
        <img class="responsive circle border" src="/static/icon.png" style="height: auto; max-width: 150px;">
    </div>
    <div class="padding">
        <button class="no-border no-margin transparent center small-round ripple">
            <h5 class="small">HBNI Audio</h5>
            <div class="tooltip right">
                <span class="no-line" id="system-info-host">
                    Rootcause
                </span>
        </button>
        <p class="center-align">
            Browse archived broadcasts, schedule events, broadcast live audio, and view live broadcasts and scheduled events.
        </p>
        <br>
        <p class="center-align">Developed with <button id="love-button" class="chip circle ripple no-border transparent no-margin"><i style="color: var(--error)">favorite</i><div class="tooltip top">love (<span id="love-count">0</span>)</div></button> by <a class="link" href="https://thecodingjsoftware.github.io/">TheCodingJ's</a></p>
    </div>
    <br>
    <article class="border" style="margin-top: auto;">
        <p class="center-align">
            For questions, comments, suggestions,
            or concerns about this service please
            email: <a class="link underline" href="mailto:jared@hbni.net">jared@hbni.net</a>
        </p>
    </article>
    <nav class="center-align">
        <a class="link" href="/privacy">Privacy Policy</a>
    </nav>
</dialog>

<div class="overlay blur"></div>
<dialog id="schedule-dialog">
    <h5 class="center-align">Schedule Event</h5>
    <p class="no-line medium-width">
        Events will remain visible for up to 2 hours after the scheduled date.
    </p>
    <div class="grid">
        <div class="field label prefix border small-round s12">
            <i>home_pin</i>
            <input type="text" id="schedule-host" name="schedule-host" required/>
            <label>Colony Name</label>
        </div>
        <div class="field label prefix border small-round s12 bottom-margin">
            <i>record_voice_over</i>
            <input type="text" id="schedule-speakers" name="schedule-speakers" required/>
            <label>Speaker(s)</label>
            <span class="helper no-line">For multiple speakers, separate with commas.</span>
        </div>
        <div class="field suffix border small-round label s12">
            <select id="schedule-duration" name="schedule-duration">
                <option disabled selected>Select a duration</option>
                <option>approximately 30 minutes</option>
                <option>approximately 45 minutes</option>
                <option>approximately 1 hour</option>
                <option>approximately 1 hour 30 minutes</option>
                <option>approximately 2 hours</option>
                <option>approximately 2 hours 30 minutes</option>
                <option>approximately 3 hours</option>
                <option>approximately 3 hours 30 minutes</option>
                <option>approximately 4 hours</option>
                <option>approximately 4 hours 30 minutes</option>
                <option>approximately 5 hours</option>
            </select>
            <label>Duration</label>
            <i>timer</i>
        </div>

        <div class="field border small-round label textarea s12 bottom-margin">
            <textarea
                type="text"
                id="schedule-description"
                name="schedule-description"
                required
            ></textarea>
            <label>Description</label>
            <span class="helper no-line">Explain what the event is about.</span>
        </div>
        <div class="field label prefix border small-round s12">
            <i>event</i>
            <input type="date" id="date-time-picker" name="date" />
            <label>Date</label>
        </div>
        <button id="submit-schedule-button" class="s6">
            <i>send</i>
            <span>Submit</span>
        </button>
        <button class=" s6" onclick="ui('#schedule-dialog');">
            <i>close</i>
            <span>Cancel</span>
        </button>
    </div>
</dialog>

<dialog class="right" id="set-theme-dialog">
    <h4 class="center-align">Color Theme</h4>
    <h6 class="padding">Select Color</h6>
    <div id="theme-buttons">
        <div class="padding">
            <div class="row center-align">
                <button class="l2 m2 s3 center-align circle small red" data-color="#f44336" id="theme-button"></button>
                <button class="l2 m2 s3 center-align circle small pink" data-color="#e91e63" id="theme-button"></button>
                <button class="l2 m2 s3 center-align circle small purple" data-color="#9c27b0" id="theme-button"></button>
                <button class="l2 m2 s3 center-align circle small deep-purple" data-color="#673ab7" id="theme-button"></button>
            </div>
            <div class="row center-align">
                <button class="l2 m2 s3 center-align circle small indigo" data-color="#3f51b5" id="theme-button"></button>
                <button class="l2 m2 s3 center-align circle small blue" data-color="#2196f3" id="theme-button"></button>
                <button class="l2 m2 s3 center-align circle small light-blue" data-color="#03a9f4" id="theme-button"></button>
                <button class="l2 m2 s3 center-align circle small cyan" data-color="#00bcd4" id="theme-button"></button>
            </div>
            <div class="row center-align">
                <button class="l2 m2 s3 center-align circle small teal" data-color="#009688" id="theme-button"></button>
                <button class="l2 m2 s3 center-align circle small green" data-color="#4caf50" id="theme-button"></button>
                <button class="l2 m2 s3 center-align circle small light-green" data-color="#8bc34a" id="theme-button"></button>
                <button class="l2 m2 s3 center-align circle small lime" data-color="#cddc39" id="theme-button"></button>
            </div>
            <div class="row center-align">
                <button class="l2 m2 s3 center-align circle small yellow" data-color="#ffeb3b" id="theme-button"></button>
                <button class="l2 m2 s3 center-align circle small amber" data-color="#ffc107" id="theme-button"></button>
                <button class="l2 m2 s3 center-align circle small orange" data-color="#ff9800" id="theme-button"></button>
                <button class="l2 m2 s3 center-align circle small deep-orange" data-color="#ff5722" id="theme-button"></button>
            </div>
            <div class="small-space"></div>
            <div class="row center-align">
                <button class="small-round">
                    <i>palette</i>
                    <span>Select Color</span>
                    <input type="color" id="select-color">
                </button>
            </div>
        </div>
    </div>
    <div class="field top-padding middle-align">
        <nav>
            <div class="max">
                <h6>Darkmode</h6>
                <div>Enable dark mode</div>
            </div>
            <label class="switch icon">
                <input type="checkbox" id="toggle-mode" autocomplete="off">
                <span>
                    <i id="mode-icon">dark_mode</i>
                </span>
            </label>
        </nav>
    </div>
    <nav class="right-align">
        <button class="transparent link small-round" onclick="ui('#set-theme-dialog')">
            <span>Close</span>
        </button>
    </nav>
</dialog>

<header class="fixed primary" id="main-header">
    <nav>
        <button class="circle transparent" onclick="ui('#info-dialog');">
            <i>menu</i>
        </button>
        <h5 class="max center-align small">HBNI Audio</h5>
        <button class="circle transparent">
            <img src="/static/icon.png" class="responsive">
        </button>
    </nav>
</header>

<body class="hidden">
    <main class="responsive">
        <div class="absolute center large-width padding grid">
            <div class="s12 m12 l12">
                <h6 class="no-line border fill small-round extra-padding center-align" id="event-status">
                    No broadcasts currently online or events scheduled.
                </h6>
            </div>
            <button class="border small-round left-align extra s6 m4 l4" onclick="window.location.href='/archives';">
                <i>library_music</i>
                <span>Audio Archives</span>
            </button>
            <button class="border small-round left-align extra s6 m4 l4" onclick="window.location.href='/broadcasting_page';">
                <i>adaptive_audio_mic</i>
                <span>Broadcast Audio</span>
            </button>
            <button id="schedule-broadcast-button" class="border small-round left-align extra s6 m4 l4">
                <i>event</i>
                <span>Schedule Event</span>
            </button>
            <button class="border small-round left-align extra s6 m4 l4" onclick="window.location.href='/events';">
                <i>record_voice_over</i>
                <span>Current Events</span>
                <div id="event-count" class="badge none hidden"></div>
            </button>
            <button class="border small-round left-align extra s6 m4 l4" onclick="window.location.href='/broadcasting_guide';">
                <i>developer_guide</i>
                <span>Broadcasting Guide</span>
            </button>
            <button class="border small-round left-align extra s6 m4 l4" onclick="window.location.href='/faq';">
                <i>help</i>
                <span>Help</span>
            </button>
            <button class="border small-round left-align extra s6 m4 l4" onclick="ui('#set-theme-dialog')">
                <i>color_lens</i>
                <span>Color Theme</span>
            </button>
            <button class="border small-round left-align extra s6 m4 l4" id="install">
                <i>download</i>
                <span>Install</span>
            </button>
        </div>
        <div class="snackbar" id="notification-snackbar">
            <div class="max" id="text"></div>
            <a class="inverse-link" href="/events">View</a>
        </div>
        <div class="snackbar" id="firebase-notification-snackbar">
            <div class="grid no-space max">
                <div class="s12 bold" id="title"></div>
                <div class="s12" id="text"></div>
            </div>
            <a class="inverse-link" href="/events">View</a>
        </div>
        <div class="snackbar error" id="schedule-error">
            Error Submitting Schedule
        </div>
        <div class="snackbar" id="schedule-success">
            <div class="max">Schedule Submitted</div>
            <a class="inverse-link" href="/listeners_page" target="_blank">View</a>
        </div>
    </main>
</body>
</html>
