<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.7.14/dist/cdn/beer.min.css" rel="stylesheet" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.7.14/dist/cdn/beer.min.js"></script>
    <script type="module"
        src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js">
        </script>
    <link href="/static/theme.css" rel="stylesheet">
    <link rel="icon" href="/static/icon.png">
    <title>HBNI Audio Listeners Page</title>
    <meta property="og:title" content="HBNI Audio Listeners Page" />
    <meta property="og:url" content="https://audioarchives.hbni.net/listeners_page" />
    <meta property="og:image" content="https://audioarchives.hbni.net/static/icon.png" />
    <meta property="og:description" content="Download or relisten to previously broadcasted streams." />
</head>

<style>
    html,
    body,
    div,
    article,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    li,
    span,
    a,
    button,
    input,
    textarea,
    select,
    details,
    summary,
    footer,
    nav {
        transition: background-color 0.3s ease-in-out, color 0.1s ease;
    }
    ::selection {
        color: var(--on-primary);
        background-color: var(--primary);
    }

    .hidden {
        display: none !important;
    }
    article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
</style>

<header class="fixed primary" id="main-header">
    <nav>
        <button class="circle transparent" onclick="window.location.href='/';">
            <i>arrow_back</i>
        </button>
        <h5 class="max center-align small">Listeners Page</h5>
        <button class="circle transparent" onclick="mode()" id="toggle-theme">
            <i>dark_mode</i>
        </button>
    </nav>
</header>

<body class="dark">
    <main class="responsive">
        {% if schedule %}
        <h3 class="center-align">Scheduled Broadcasts</h3>
        <hr>
        <div class="small-padding grid" id="schedulded-broadcasts-container">
            {% for scheduled_date, scheduled_broadcast in schedule.items() %}
            <article class="s12 m12 l6">
                <div class="row no-space">
                    <h6 class="bottom-margin max">{{ scheduled_broadcast["description"] }}</h6>
                    <button class="transparent small-round circle link" onclick="shareUpcomingBroadcast('{{ scheduled_broadcast["host"].title() }} schedulded a broadcast with the description, {{ scheduled_broadcast["description"] }} and is schedulded to start at {{ scheduled_broadcast["start_time"] }}.')">
                        <i>share</i>
                    </button>
                    <button class="transparent small-round circle link" onclick="copyUpcomingBroadcastToClipboard('{{ scheduled_broadcast["host"].title() }} schedulded a broadcast with the description, {{ scheduled_broadcast["description"] }} and is schedulded to start at {{ scheduled_broadcast["start_time"] }}.')">
                        <i>content_copy</i>
                    </button>
                </div>
                <div><i>artist</i> {{ scheduled_broadcast["host"].replace("/", "").title() }}</div>
                <div><i>event</i> {{ scheduled_broadcast["start_time"]}}</div>
                <blockquote class="no-line">
                    {{ scheduled_broadcast["host"].title() }} schedulded a broadcast with the description, "{{ scheduled_broadcast["description"] }}" and is schedulded to start at {{ scheduled_broadcast["start_time"] }}.
                </blockquote>
            </article>
            {% endfor %}
        </div>
        {% endif %}
        {% if broadcast_status %}
        <h3 class="center-align">Active Broadcasts</h3>
        <hr>
        <div class="small-padding grid" id="broadcasts-container">
        {% for broadcast in broadcast_status %}
            <article class="s12 m6 l6" id="{{ broadcast['host'] }}">
                <div class="row no-space top-align">
                    <h6 class="bottom-margin max">{{ broadcast["server_description"]}}</h6>
                    <a class="transparent small-round circle link wave" href="http://hbniaudio.hbni.net:8000/{{ broadcast['host'] }}" target="_blank">
                        <i>open_in_new</i>
                        <span>Direct Link</span>
                    </a>
                    <button class="transparent small-round circle link" onclick="shareUpcomingBroadcast('{{ broadcast["server_description"] }}')">
                        <i>share</i>
                    </button>
                    <button class="transparent small-round circle link" onclick="copyUpcomingBroadcastToClipboard('{{ broadcast["server_description"] }}')">
                        <i>content_copy</i>
                    </button>
                </div>
                <div><i>artist</i> {{ broadcast["host"].replace("/", "").title() }}</div>
                <div><i>event</i> {{ broadcast["stream_start"].replace("_", ":") }}</div>
                <div><i>hearing</i> Current Listeners: {{ broadcast['listeners'] }}</div>
                <div><i>trending_up</i> Listener Peak: {{ broadcast['listener_peak'] }}</div>
                <div class="top-margin center-align middle-align">
                    <audio controls autoplay class="s12 m8 l8" title="{{ broadcast['server_description'] }}">
                        <source src="http://hbniaudio.hbni.net:8000/{{ broadcast['host'] }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </article>
        {% endfor %}
        </div>
        {% else %}
        <h6 class="center-align middle-align extra-padding extra-margin">No broadcasts currently online.</h6>
        {% endif %}
        <div class="snackbar green" id="copied-to-clipboard">Copied to Clipboard</div>
    </main>
    <script>
        const mode = () => {
            let currentMode = localStorage.getItem("mode") || "dark";
            let newMode = currentMode === "dark" ? "light" : "dark";
            localStorage.setItem("mode", newMode); // Save mode to localStorage
            ui("mode", newMode);
            updateIcon(newMode);
            updateImageSource();
            document.documentElement.classList.toggle("dark", newMode === "dark");
        };

        function updateImageSource() {
            const mode = localStorage.getItem('mode') || 'light';
            const images = document.querySelectorAll('img[id^="recording-card-image"]');
            images.forEach(image => {
                image.src = mode === 'dark' ? '/static/hbni_logo_dark.png' : '/static/hbnilogo.png';
            });
        }

        const updateIcon = (mode) => {
            const iconElements = document.querySelectorAll('#toggle-theme i');
            iconElements.forEach(iconElement => {
                iconElement.textContent = mode === "dark" ? "light_mode" : "dark_mode";
            });
        };

        function shareUpcomingBroadcast(text) {
            // Check if the Web Share API is available
            if (navigator.share) {
                const url = window.location.origin + "/listeners_page";
                const shareData = {
                    title: "HBNI Audio Listeners Page",
                    text: text,
                    url: url
                };

                navigator.share(shareData)
                    .then(() => console.log("Shared successfully!"))
                    .catch((error) => {
                        console.error("Error sharing:", error);
                        alert("Could not share the broadcast.");
                    });
            } else {
                // Fallback to clipboard if Web Share API is not supported
                navigator.clipboard.writeText(`${text} - Visit here: ${window.location.origin}/listeners_page`)
                    .then(() => {
                        const snackbar = document.getElementById("copied-to-clipboard");
                        snackbar.classList.add("show");
                        setTimeout(() => snackbar.classList.remove("show"), 3000);
                    })
                    .catch((error) => console.error("Error copying to clipboard:", error));
                    ui("#copied-to-clipboard");
            }
        }

        function copyUpcomingBroadcastToClipboard(text) {
            navigator.clipboard.writeText(`${text} - Visit here: ${window.location.origin}/listeners_page`);
            ui("#copied-to-clipboard");
        }

        document.addEventListener('DOMContentLoaded', function () {
            let savedMode = localStorage.getItem("mode") || "light";
            ui("mode", savedMode);
            updateIcon(savedMode);
            document.documentElement.classList.toggle("dark", savedMode === "dark");
            updateImageSource();
        });
    </script>
</body>

</html>