<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google" content="notranslate" />
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.8.0/dist/cdn/beer.min.css" rel="stylesheet" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.8.0/dist/cdn/beer.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    <script type="module" src="/static/js/listeners_page.js?v=1.6"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/theme.css?v=1.6" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?v=1.6" />
    <link rel="icon" href="/static/icon.png" />
    <title>HBNI Audio Listeners Page</title>
    <meta property="og:title" content="HBNI Audio Listeners Page" />
    <meta property="og:url" content="https://broadcasting.hbni.net/listeners_page" />
    <meta property="og:image" content="https://broadcasting.hbni.net/static/icon.png" />
    <meta property="og:description" content="View active and scheduled broadcasts." />
</head>

<header class="fixed primary" id="main-header">
    <nav>
        <button class="circle transparent" onclick="window.location.href='/';">
            <i>arrow_back</i>
        </button>
        <h5 class="max small">Listeners Page</h5>
        <button class="circle transparent" id="toggle-theme">
            <i>dark_mode</i>
        </button>
    </nav>
</header>

<body class="dark hidden">
    <main class="responsive">
        {% if scheduled_broadcast_count %}
        <h5 class="center-align">Scheduled Broadcasts</h5>
        <div class="small-padding grid border round" id="scheduled-broadcasts-container">
            {% for scheduled_date, scheduled_broadcast in schedule.items()
            %}
            <article class="s12 m12 l6 round" id="article-{{ scheduled_broadcast.host }}" data-host="{{ scheduled_broadcast.host }}" data-title="{{ scheduled_broadcast.host.title() }}" data-description="{{ scheduled_broadcast.description }}" data-start-time="{{ scheduled_broadcast.start_time }}">
                <div class="row no-space">
                    <h6 class="bottom-margin max">
                        {{ scheduled_broadcast.description }}
                    </h6>
                    <button id="share-button" class="transparent circle link">
                        <i>share</i>
                    </button>
                    <button id="copy-button" class="transparent circle link">
                        <i>content_copy</i>
                    </button>
                </div>
                <div>
                    <i>artist</i> {{ scheduled_broadcast.host.replace('/', '').title() }}
                </div>
                <div>
                    <i>record_voice_over</i> {{ scheduled_broadcast.speakers if scheduled_broadcast.speakers else "No speakers listed" }}
                </div>
                <div>
                    <i>event</i> {{ scheduled_broadcast.start_time }}
                </div>
                <blockquote class="no-line" id="scheduled-description-{{ scheduled_broadcast.host }}">
                    {{ scheduled_broadcast.host.title() }} has scheduled a broadcast with the description:
                    "{{ scheduled_broadcast.description }}".
                    {% if scheduled_broadcast.speakers %}
                        This broadcast will feature {{ scheduled_broadcast.speakers }}.
                    {% else %}
                        No speakers have been specified for this broadcast.
                    {% endif %}
                    The broadcast is set to begin at {{ scheduled_broadcast.start_time }}.
                </blockquote>
            </article>
            {% endfor %}
        </div>
        {% endif %}
        {% if broadcast_count %}
        <h5 class="center-align">Active Broadcasts</h5>
        <div class="small-padding grid border round" id="broadcasts-container">
            {% for broadcast in broadcast_status %} {% if not broadcast.is_private %}
            <article class="s12 m6 l6 round" id="article-{{ broadcast.host }}" data-title="{{ broadcast.host.title() }}" data-description="{{ broadcast.server_description }}">
                <div class="row no-space top-align">
                    <h6 class="bottom-margin max" id="server-description-{{ broadcast.host }}">
                        {{ broadcast.server_description }}
                    </h6>
                    <button class=" circle link transparent wave" onclick="window.open('{{ broadcast.source_url }}/{{ broadcast.host }}')">
                        <i>open_in_new</i>
                    </button>
                    <button id="share-button" class="circle link transparent">
                        <i>share</i>
                    </button>
                    <button id="copy-button" class="circle link transparent">
                        <i>content_copy</i>
                    </button><div id="recording-status-{{ broadcast.host }}" class="badge min none hidden"></div>
                </div>
                <div>
                    <i>artist</i> <span id="artist-{{ broadcast.host }}">{{ broadcast.host.replace('/', '').title() }} </span>
                </div>
                <div>
                    <i>event</i> <span id="event-{{ broadcast.host }}">{{ broadcast.stream_start.replace('_', ':') }}</span>
                </div>
                <div>
                    <i>schedule</i> <span>Length:</span> <span id="length-{{ broadcast.host }}">{{ broadcast.length }}</span>
                </div>
                <div>
                    <i>hearing</i> <span>Current Listeners:</span> <span id="listeners-{{ broadcast.host }}">{{ broadcast.listeners }}</span>
                </div>
                <div>
                    <i>trending_up</i> <span>Listener Peak:</span> <span id="listener-peak-{{ broadcast.host }}">{{ broadcast.listener_peak }}</span>
                </div>
                <div class="top-margin center-align middle-align">
                    <audio controls id="audio-{{ broadcast.host }}" class="s12 m8 l8" title="{{ broadcast.server_description }}" preload="auto">
                        <source src="{{ broadcast.source_url }}/{{ broadcast.host }}" type="audio/mpeg" />
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </article>
            {% endif %} {% endfor %}
        </div>
        {% endif %}
        {% if scheduled_broadcast_count == 0 and broadcast_count == 0 %}
        <h6 class="absolute padding center middle medium-width center-align">
            No broadcasts currently online or events scheduled.
        </h6>
        {% endif %}
        <div class="snackbar" id="copied-to-clipboard">
            Copied to Clipboard
        </div>
        <div class="snackbar" id="no-broadcasts-online">
            No broadcasts currently online
        </div>
        <div class="snackbar" id="no-events-scheduled">
            No events scheduled
        </div>
    </main>
</body>

{% if scheduled_broadcast_count and not broadcast_count %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        ui("#no-broadcasts-online");
    });
</script>
{% elif not scheduled_broadcast_count and broadcast_count %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        ui("#no-events-scheduled");
    });
</script>
{% endif %}
</html>
