<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">

<head>
    <title>{{ file_name }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google" content="notranslate" />
    <link rel="icon" href="/static/icon.png" />
    <meta property="og:title" content="{{ file_name }}" />
    <meta property="og:url" content="https://broadcasting.hbni.net/play_recording/ {{ file_name }}" />
    <meta property="og:image" content="https://broadcasting.hbni.net/static/hbnilogo.png" />
    <meta property="og:description" content="{{ file_name }}" />
</head>

<header class="fixed primary" id="header">
    <nav>
        <button class="circle transparent" onclick="location.href='/archives';">
            <i>arrow_back</i>
        </button>
        <h5 class="max">{{ title }}</h5>
    </nav>
</header>

<body class="dark hidden">
    <main class="responsive">
        <article class="absolute no-padding center middle medium-width" id="main-article">
            <div class="center-align primary m l">
                <h1 class="extra music-note" style="color: var(--on-primary);">♫</h1>
            </div>
            <div class="padding">
                <h6 class="bottom-margin">
                    {{ description }}
                </h6>
                <div><i>home_pin</i> {{ title }}</div>
                <div><i>event</i> {{ date.replace("_", ":") }}</div>
                <div><i>schedule</i> {{ length }}</div>
                <div class="row no-margin" style="max-height: 24.3px;">
                    <div class="max"><i>web_traffic</i> <span>Visits:</span> <span id="visit-count">{{ visit_count }}</span></div>
                    <button class="circle link transparent">
                        <i>info</i>
                        <div class="tooltip left">
                            <span class="left-align">Latest Visit:<br><span id="latest-visit">{{ latest_visit }}</span></span>
                        </div>
                    </button>
                </div>
                <div class="row center-align max">
                    <progress id="loading-spinner" class="circle large"></progress>
                </div>
                <div class="row max">
                    <label class="checkbox icon">
                        <input type="checkbox" id="play-button"/>
                        <span>
                            <i>play_arrow</i>
                            <i>pause</i>
                        </span>
                    </label>
                    <label class="slider">
                        <input type="range" max="100" value="0" id="timeline">
                        <span></span>
                    </label>
                    <label class="checkbox icon">
                        <input type="checkbox" id="sound-button" />
                        <span>
                            <i>volume_up</i>
                            <i>volume_off</i>
                        </span>
                    </label>
                </div>
                <div class="padding center-align middle-align">
                    <span id="current-time">00:00</span>/
                    <span id="total-time">00:00</span>
                </div>
                <nav class="row">
                    <button class="max" id="download-button" data-name="{{ file_name }}" data-url="/load_recording/{{ share_hash }}">
                        <i>download</i>
                        <span>Download</span>
                    </button>
                    <button id="share-button" class="link transparent no-border ">
                        <i>share</i>
                        <span>Share</span>
                    </button>
                </nav>
            </div>
            <canvas id="canvas" style="width: 100%; height: 100px"></canvas>
        </article>
        <audio class="audio" id="audio" title="{{ file_name }}" preload="auto" crossorigin="anonymous">
            <source src="/load_recording/{{ share_hash }}" type="audio/mpeg" />
        </audio>
    </main>
</body>

</html>
